* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common Rules */

header {
  text-align: center;
  padding: 1.5rem;
  background-image: url(../img/wall.png);
}

body {
  background-image: url(../img/cork.png);
}

.container {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.col {
  width: calc(100% / 12 * 4);
  padding: 1rem;
}

.card {
  padding: 1rem;
  margin: 1rem;
  background: white;
  position: relative;

  .card-head {
    img {
      padding: 0.5rem;
      max-width: 100%;
    }
    .pin {
      position: absolute;
      left: 40%;
      top: -3%;
      width: 40px;
    }
  }

  .card-body {
    text-align: center;
  }
}

/* Breakpoint rules */

/* Medium */

@media screen and (max-width: 920px) {
  .col {
    width: calc(100% / 2 - 1rem);
    flex-basis: auto;
    margin-right: 1rem;
  }
}

/* small */

@media screen and (max-width: 768px) {
  .col {
    width: calc(100% / 1 - 1rem);
    flex-basis: auto;
    margin-right: 1rem;
  }
}
